<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="icon" type="image/png" href="../static/styles1/images/icons/favicon.ico"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body  style="background-image: url('../static/styles1/images/Breast-Cancer.jpg'); background-repeat: no-repeat;background-attachment: fixed; background-size: 100% 100%;">

  <div class="container" style="height: 50%">
    <br>
    <div class="jumbotron" style="opacity: 0.8">
      <h2 align="center">
        <img style="width:15%" src="../static/styles1/images/app_icon.png"/>
        HealthCare platform
      </h2>
      <h2 align="center">
        Haberman Breast Cancer
      </h2>
      <p style="height: 2px" align="center">Powered by Machine Learning</p>
    </div>
    <br>

    <div class="row">
    <div class="col-xs-4" style="margin-left: 500px; margin-top: 100px; opacity: 0.9;">
      <br>
      <button style="width: 30%; height: 15%; font-family: Arial,Helvetica,sans-serif; font-size: 20px; background-color: #dc6684; color: green;" class="btn btn-info"><a href="{{ url_for('index') }}">Enter</a></button>
    </div>

    <div class="col-xs-4">
    </div>

</div>
</div>
<body>
